.about-us-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; 
  color: #333333; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; 
  max-width: 800px; 
}

.about-us-container h2 {
  color: #007bff; 
}

.query-box {
  margin-bottom: 20px; 
  margin-top: 30px;
}

.query-box input[type='text'] {
  padding: 10px;
  width: 100%; 
  border: 1px solid #007bff; 
  border-radius: 5px;
}

.query-box button {
  padding: 10px 20px;
  background-color: #007bff; 
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 30px;
}

.query-box button:hover {
  background-color: #0056b3; 
}


.map-container {
  margin-top: 20px;
  
}
